/* Pseudo Classes */
/* 
- Not a Real Class in Page, 
it is a State for an Element 
*/
/* body{ 
  font-size: xx-large;
}
.one{
  background-color: red;
  color: white;
}
.two{
  background-color: #DDD;
  width: 100px;
  height: 100px;
}
a{
  color: blue;
  text-decoration: none;
}
a:hover{ 
  color: red;
}
a:visited{
  color: chartreuse;
}
.check:checked + label{ 
  color: red;
}
div:empty{
  border: 10px solid dodgerblue;
}
:empty{
  border: 5px solid green;
}
.input{
  border: 5px solid;
}
.input:focus{
  border-style: dashed;
  border-color: yellowgreen;
  outline: none;
} */
/* +++++++++++++++++++++++++ */
/* Pseudo Elements - First Letter,First Line,Selection*/
/*
:Pseudo Classes
::Pseudo Element
*/
/* .one span{
  background-color: red;
  color: white;
  font-size: xxx-large;
  font-weight: bold;
}
.two::first-letter{
  background-color: red;
  color: white;
  font-size: xxx-large;
  font-weight: bold;
}
.three::first-line{
  font-weight: bold;
  color: blue;
}
p::selection{
  background-color: black;
  color: gold;
}
::selection{
  background-color: pink;
  color: red;
} */
/* Pseudo Elements – Before, After, Content */
/* .parent {
  margin-bottom: 20px;
  overflow: hidden;
}
.one {
  background-color: #eee;
  padding: 10px;
  width: 600px;
  float: left;
  position: relative;
}
.one::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  right: -10px;
  top: 0;
  background-color: #009688;
}
.one::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -20px;
  width: 0;
  height: 0;
  background-color: white;
  margin-top: -10px;
  border-style: solid;
  border-width: 10px;
  border-color: transparent #009688 transparent transparent;
}
.user {
  background-color: #eee;
  width: 50px;
  margin-right: 20px;
  padding: 10px;
  height: 55.5px;
  float: left;
  font-size: 50px;
  text-align: center;
} */
/* ++++++++++++++++++++++++++++++++++++ */
/* Pseudo Elements – Content And Training’s */
.parent {
  margin-bottom: 20px;
  overflow: hidden;
  counter-increment: members-counter;
}
.one {
  background-color: #eee;
  padding: 10px;
  width: 600px;
  float: left;
  position: relative;
}
.one::before {
  content: attr(data-text);
  display: none;
}
.one::after {
  content: counter(members-counter);
  position: absolute;
  background-color: red;
  color: white;
  width: 20px;
  height: 20px;
  text-align: center;
  font-weight: bold;
  right: -10px;
  top: 50%;
  margin-top: -10px;
}
.user {
  background-color: #eee;
  width: 50px;
  margin-right: 20px;
  padding: 10px;
  height: 55.5px;
  float: left;
  font-size: 50px;
  text-align: center;
}
ul {
  list-style: none;
}
ul li {
  position: relative;
}
ul li::before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  left: -20px;
  top: 50%;
  margin-top: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent #009688 transparent transparent;
}