/*
  selector {
    Property: Value; semi-colon to write more than a property
    Property-Two: ValueTwo
  }
*/

h1{
  color: blue;
}

p{
  color: red;
}

.special{
  color: green;
  font-size: 30px;
}

#id{
  color: coral;
}