div{
  width: 100px;
  height: 100px;
  position: absolute;
}
.green{
  background-color: green;
  z-index: 3;
  left: 30px;
  top: 30px;
}
.red{
  background-color: red;
  z-index: 4;
  left: 40px;
  top: 40px;
}
.blue{
  background-color: skyblue;
  z-index: 2;
  left: 20px;
  top: 20px;
}
.black{
  z-index: 1;
  background-color: black;
  left: 20px;
  top: 30px;
}