div{
  width: 400px;
  height: 400px;
  color: white;
  background-image: url(/resources/css-assignment-5-8.png);
}
.shape-1{
  background-repeat: no-repeat;
}
.shape-2{
  background-repeat: repeat-y;
  background-position: right;
}
.shape-3{
  background-repeat: repeat-x;
  background-position: bottom;
}
.shape-4{
  /* Default */
  background-repeat: repeat;
  /* Equal */
  /* background-repeat: repeat-x */
  /* background-repeat: repeat-y */

}