*{
  box-sizing: border-box;
}
.parent{
  width: 600px;
  height: 300px;
  background-color: #eee;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content:space-between;
  padding: 10px 0;
}
.parent div{
  background-color: #f44336;
  color: white;
  width: calc(550px / 3);
  padding: 10px;
  text-align: center;
}