div{
  width: 400px;
  height: 400px;
  color: white;
  background-color: red;
  background-image: url(../../../../resources/css-assignment-5-8.png);
}
.shape-1{
  background-repeat: no-repeat;
  background-size: 80%;
}
.shape-2{
  background-repeat: repeat-y;
  background-size: 80%;
  background-position: right;
}
.shape-3{
  background-repeat: repeat-x;
  background-size: 80%;
  background-position: bottom;
}
.shape-4{
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: right bottom;
}