/* Vendors Prefixes */
/* Chrome
  Safari
  Firefox
  IE, Edge
  Opera

  [1] New CSS Feature Appeared
  [2] Browsers Tests The Feature In Version X
  [3] Browsers Add Prefix To Give Developers The Ability To Use It
  [4] The Feature Is Fully Supported In Version Y, No Need For Prefix

  -webkit- => Chrome, Safari, New Opera Version
  -moz- => Firefox
  -ms- => Ie, Edge
  -o- => Old Version of Opera



.class {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
}

  [1] Most of Users Is Using Modern Browsers
  [2] Vs Code Addon To Add The Prefix
  [3] Task Runner 
*/
/* +++++++++++++++++++++++++++++++++++ */
/* Border Radius */
/* div{
  background-color: red;
  width: 150px;
  height: 150px;
  margin: 20px auto;
  border-radius: 50%;
  border: 5px solid blue;
  outline: 10px solid black;
  border-top-left-radius: 50px 100px;
} */
/* +++++++++++++++++++++++++++ */
/* Box Shadow */
/* div {
  padding: 20px;
  background-color: #eee;
  margin: 20px auto;
  width: 300px;
  box-shadow:
    0 0 10px 0 #F10000,
    0 0 10px 0 #000,
    0 0 10px 0 #080,
    0 0 10px 0 #00f,
    0 0 10px 0 yellow;
} */
/* +++++++++++++++++++++++ */
/* The Box Model And Box Sizing */
html{
  box-sizing: border-box;
  color: white;
}
*, *::before, *::after{
  box-sizing: inherit;
}
div{
  margin: 0 50px;
}
.scaler{
  background-color: purple;
  width: 200px;
  height: 40px;
}
.content-box{
  box-sizing: content-box;
  background-color: blue;
  width: 200px;
  height: 40px;
  padding: 10px;
  border: 5px solid black;
}
.border-box{
  background-color: green;
  width: 200px;
  height: 40px;
  padding: 10px;
  border: 5px solid black;
}
.parent{
  background-color: firebrick;
  margin-top: 10px;
  width: 220px;
  height: 250px;
}
.content-box2, .border-box2{
  width: 200px;
  height: 100px;
  margin: 0px;
}
.content-box2{
  box-sizing: content-box;
  background-color: blue;
  padding: 15px;
}
.border-box2{
  background-color: green;
  padding: 15px;
}