.element-1, .element-2, .element-3{
  font-size: 20px;
  width: 400px;
  background-color: #DDD;
  margin: 15px;
  padding: 15px;
}
.element-1{
  border-left: 7px solid red;
}
.element-2{
  visibility:hidden;
}
.element-3{
  border-left: 7px solid green;
}