/* Transition */
/*
  - Duration
  - Property
  - Delay
  - Timing Function
*/
/* *{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
}
  transition: property duration delay timing-function
.one{
  background-color: #DDD;
  width: 200px;
  height: 100px;
  transition-duration: 1s, 3s;
  transition-delay: 0.5s;
  transition-property: margin-left, margin-top;
  transition-timing-function: ease-in-out;
  transition: all 2s .5s ease;
}
.one:hover{
  margin-left: 20px;
  margin-top: 30px;
  width: 330px;
} */
/* +++++++++++++++++++++++++ */
/* !Important Declaration And Use */
/* .one{
  background-color: cyan !important;
} */
/* ++++++++++++++++++++++++++++ */
/*
Margin Collapse 
  [1] Only Vertical Margin Collapse 
  [2] Bigger Margin Win 
  [3] Bigger Margin Collapsing Happens When No Elements Between 
  [4] nesting-don't-affect-collapsing 
*/
/* .parent{
  background-color: #eee;
  width: 400px;
  height: 200px;
  padding: 10px;
  margin: auto;
}
.parent .one, 
.parent .two{
  float: left;
  width: 50%;
  height: 100%;
}
.one{
  background-color: #ddd;
}
.two{
  background-color: #aaa;
}
.up{
  background-color: red;
  color: white;
  height: 100px;
  margin-bottom: 10px;
}
.down{
  background-color: var(--primary-color);
  color: white;
  height: 100px;
  margin-top: 10px;
} */
/* ++++++++++++++++++++++ */
/* 
CSS Variables 
  - Global Scope
  - Local Scope
  - var(variable Name, Fallback Value)
*/
:root{
  --primary-color: blue;
  --primary-padding: 20px;
}
.main{
  background-color: var(--primary-color, green);
  color: white;
  padding: calc( 20px + var(--primary-padding) );
}
h2{
  color: var(--primary-color, green);
  background-color: #eee;
  border: 2px solid var(--primary-color, green);
  padding: var(--primary-padding);
} 
p{
  color: var(--primary-color, green);
  border: 2px solid var(--primary-color, green);
  padding: var(--primary-padding);
}
a:hover{
  color: var(--primary-color, green);
}
.local{
  --primary-color: black;
  background-color: var(--primary-color);
  color: white;
}