div{
  width: 300px;
  height: 60px;
  margin: 20px auto;
  text-align:center;
  font-family: sans-serif;
  background-color: #EEE;

  line-height: 60px;
}
:empty{
  background-color: red;
}