/* background-color */
/* div{
  background-color: rgba(0, 255, 0);
  background-color: rgba(0, 255, 0, 50%);
  background-color: rgba(0, 255, 0, 0.5);
  background-color: red;
  background-image: url(/Zeyad_pic.jpg);
  background-color: #FF0000;
  background-repeat : round;
  background-repeat : no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: contain;
} */
/*==================================*/
/* padding */
/*
div{
    Top right Bottom left
    20 20 20 20 
  padding: 20px;

    Top right Bottom left
    20 10 20 10 
  padding: 20px 10px; 

  padding-left: 20px;
}
*/
/*========================*/
/*margin*/

/* div{
  padding: 20px;
  margin: 20px;
  margin: -30;
  width: 70%;
  margin: auto;
} */
