body{
  font-family: sans-serif;
}
div{
  width: 100px;
  height: 100px;
  background-color: #DDD;
  display: inline-block;
  border-radius: 50%;
  border: 3px solid black;
  margin: 10px;
  box-shadow: 
  5px 5px 0 0 steelblue,
  -5px -5px 0 0 red;
  counter-increment: circles-count;
  position: relative;
}
div::after{
  content: counter(circles-count);
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 50%;
  text-align: center;
  line-height: 15px;
  position: absolute;
  left: 40px;
  top: -15px;
  width: 15px;
  height: 15px;
}
div::before{
  content: "Element";
  position: absolute;
  top: 40px;
  left: 20px;
}