.grid {
  background-color: #ddd;
  padding: 20px;
  width: 800px;
  height: 400px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 100fr 100fr 1fr;
  grid-template-rows: 100fr 1fr;
  gap: 20px;
}
.grid div{
  background-color: #403f3f;
  color: white;
  font-weight: bold;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}