div{
  width: 100px;
  height: 100px;
  margin: 20px auto;
  background-color: #eee;
  display: flex;
  justify-self:center;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  font-size: large;
  font-family: sans-serif;
  color: orangered;
  font-weight: bold;
  box-shadow: 
  5px 0 0 0 #ff5722, -5px 0 0 0 #03a9f4;
}