body{
  font-size: x-large;
}
.parent{
  background-color: #eee;
  width: 400px;
  height: 300px;
  padding: 10px;
  text-align: center;
  margin-top: 70px;
  transition: margin-top .5s 0s ease;
  -moz-transition: margin-top .5s 0s ease;
  -webkit-transition: margin-top .5s 0s ease;
}
.child{
  background-color: #ddd;
  padding: 20px;
  margin-top: 0px;
  transition: all 1s 0.5s ease;
  -moz-transition: all 1s 0.5s ease;
  -webkit-transition: all 1s 0.5s ease;
}
.parent:hover{
  margin-top: 0px;
}
.parent:hover .child{
  color: blue;
  margin-top: 70px;
}