*{
  box-sizing: border-box;
}
div{
  width: 300px;
  background-color: #eee;
  padding: 10px;
  text-align: center;
  margin: 20px auto;
  border-left: 5px solid red;
  border-right: 5px solid rebeccapurple;
  position: relative;

  font-weight: bold;
  letter-spacing: 2px;
}
div::first-letter{
  color: red;
}
div::before{
  content: "";
  width: 100%;
  height: 5px;
  position: absolute;
  left: 0px;
  top: 0px;
  background-image: linear-gradient(to right,
  red 20%,
  #2196f3 20%,
  #2196f3 40%,
  #4caf50 40%,
  #4caf50 60%,
  #e91e63 60%,
  #e91e63 80%,
  #673ab7 80%
  );
}
div::after{
  content: "";
  width: 100%;
  height: 5px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  background-image: linear-gradient(to right,
  red 20%,
  #2196f3 20%,
  #2196f3 40%,
  #4caf50 40%,
  #4caf50 60%,
  #e91e63 60%,
  #e91e63 80%,
  #673ab7 80%
  );
}