/*
Grid 
- Parent:
  - display:grid || inline-grid
  - grid-template-columns: [Number Of Columns & its Width In] => [px, %, auto, repeat, fraction, mixed]
  * auto is shy take min space to live,
    fraction is greedy
  - grid-template-rows: [Number Of Rows & its Height In] => [px, %, auto, fraction, repeat, mixed]
  - gap: row-gap column-gap;
  - justify-content:
  - align-content:
- Child:
  - grid-column: grid-column-start grid-column-end ;
  - grid-row: grid-row-start grid-row-end ;
  - grid-area: grid-row-start / grid-column-start
            / grid-row-end / grid-column-end;
  - grid-area: "name"
  - auto-fill, minmax()
  */
*{
  box-sizing: border-box;
}
/* grid-template-columns */
/* .parent{
  margin: 20px auto;
  width: 800px;
  height: 500px;

  display: grid;
  grid-template-columns: repeat(5,auto);
  grid-template-columns: repeat(2,auto) repeat(2,1fr);
}
.parent div{
  background-color: red;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
} */
/* 
grid-template-rows 
  - grid-template-rows: [Number Of Rows & its Height In] => [px, %, auto, fraction, repeat, mixed]
  - gap: row-gap column-gap;
  */
/* .parent{
  margin: 20px auto;
  width: 800px;
  height: 500px;
  background-color: #ddd;

  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: 100px 200px 100px;
  grid-template-rows: repeat(4,1fr);
  row-gap: 20px;
  column-gap: 5px;
  gap: 30px 10px;
}
.parent div{
  background-color: red;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
} */
/* ++++++++++++++++++++++ */
/*
- Justify Content And Align Content 
*/
/* .parent{
  margin: 20px auto;
  width: 800px;
  height: 500px;
  background-color: #ddd;

  display: grid;
  grid-template-columns: repeat(4,auto);
  grid-template-rows: repeat(4,auto);
  justify-content: space-between;
  align-content: space-between;
}
.parent div{
  background-color: red;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
} */
/* +++++++++++++++++++ */
/* Layout With Template Areas */
/* *{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-weight: bold;
}
.page{
  display: grid;
  height: 100vb;
  background-color: black;
  grid-template-columns: repeat(10,1fr);
  grid-template-rows: 50px auto 50px;
  grid-template-areas: 
  "logo logo nav nav nav nav nav nav nav nav"
  "cont cont cont cont cont cont cont . side side"
  "footer footer footer footer footer footer footer footer footer footer";
}
h2{
  grid-area: logo;
  background-color: cornflowerblue;
}
nav{
  grid-area: nav;
  background-color:skyblue;
}
ul{
  list-style: none;
}
ul li{
  display: inline-block;
}
section{
  grid-area: cont;
  background-color: blueviolet;
}
aside{
  grid-area: side;
  background-color: steelblue;
}
footer{
  grid-area: footer;
  background-color: slateblue;
} */
/* ++++++++++++++++++++++++ */
/* child */
/*
Child - Grid Column And Grid Row 
- grid-column: grid-column-start grid-column-end ;
- grid-row: grid-row-start grid-row-end ;
*/
/* .parent{
  width: 800px;
  height: 500px;
  margin: 20px auto;
  background-color: #ddd;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px 10px;
}
.parent div{
  background-color: red;
  color: white;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding: 20px;
}
.one{
  grid-column: 2 / span 3;
}
.four{
  grid-row: span 3;
} */
/* +++++++++++++++++++++++ */
/* 
Grid Area 
- grid-area: grid-row-start / grid-column-start
            / grid-row-end / grid-column-end;
- grid-area: "name"
*/
/* .parent{
  width: 800px;
  height: 500px;
  margin: 20px auto;
  background-color: #ddd;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas: "one one one";
  gap: 10px 10px;
}
.parent div{
  background-color: red;
  color: white;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding: 20px;
}
.parent .nine{
  background-color: cadetblue;
  grid-row-start: 2;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: 6;
  grid-area: 2 / 2 / 5 / 6;
}
.one{
  grid-area: one;
} */
/* Min, Max And Auto Fill */
*{
  box-sizing: border-box;
  margin: 0;
}
.parent{
  height: 500px;
  margin: 20px auto;
  background-color: #ddd;
  display: grid;
  /* grid-template-columns: minmax(200px, 400px) repeat(2, 500px); */
  grid-template-columns: repeat( auto-fill, minmax(200px, 1fr) );
}
.parent div{
  background-color: red;
  color: white;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding: 20px;
}