.grid {
  background-color: #ddd;
  padding: 20px;
  width: 800px;
  height: 400px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 9fr;
  gap: 20px;
  counter-reset: counter;
}
.grid div{
  background-color: #607d8b;
  counter-increment: counter;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid div::before{
  content: "Element " counter(counter);
  color: white;
  font-weight: bold;
  font-size: 24px;
}