div{
  background-color: #DDD;
  font-family: sans-serif;
  margin: 20px auto;
  padding: 20px;
  width: fit-content;
  line-height: 1.5;
}
div::first-letter{
  background-color: red;
  color: white;
  font-size: 20px;
  padding: 10px;
  font-weight: bold;
  text-align: center;
  float: left;
  margin-top: -13px;
  margin-left: -40px;
  margin-right: 15px;
}