body{
  font-family: sans-serif;
  font-size: x-large;
  text-align: center;
  text-transform: capitalize;
  text-wrap-mode: nowrap;
}
caption{
  font-weight: bold;
}
table{
  width: 400px;
  border-spacing: 3px;
  /* center table */
}
tbody td{
  /* make no break */
  background-color: #DDD;
  padding: 30px;
}
thead td{
  font-weight: bold;
  padding: 20px;
  color: white;
  background-color:rgb(51, 68, 68);
}